.Pagination {
  display: grid;
  grid-template-columns: 3rem 2rem 2rem 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.Pagination span {
  display: flex;
  background-color: #cc0600;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Pagination p {
  cursor: pointer;
  color: #cc0600;
}
