.Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigation .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  font-size: 20px;
}

.Navigation span {
  color: #d22126;
  font-weight: bold;
}
