.Header{
    background: linear-gradient(rgb(250, 98, 98), rgb(196, 20, 20));
    height: 9rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.Header img{
    height: 5rem;
    width: 8rem;
}
.icons{
    font-size: 1.5rem;
    color:white;
    display: flex;
    justify-content: space-between;
    min-width: 4rem;
    align-items: center;
    max-height: 4rem;
}